<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/img/guitar.png" />
    <title>Downpicking</title>
    <meta name="description" content="Guitar Modes & Scales">
    {% block head %}

    {% endblock head %}
</head>

<body class="bg-dark text-white">
    <nav class="navbar navbar-dark bg-gradient border-bottom border-5 border-warning rounded-bottom">
        <div class="container-fluid">
            <a class="navbar-brand ms-xl-4" href="/">
                <img src="img/metal.png" height="30" class="d-inline-block align-text-top">
                <i>Downpicking</i>
            </a>
            <div class="ml-auto">
                <img src="/img/guitar.png" height="35">
            </div>
        </div>
    </nav>
    {% block body %}

    {% endblock body %}
    <i class="bi bi-music-note-list fixed-bottom text-center text-white-50"></i>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>